#ass2511-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: none; /*lightgoldenrodyellow*/
    text-align: center;
    overflow: auto;
    transition: max-height 1s ease;
}

.ass2511-open {
    max-height: 1200px;
}

.ass2511-close {
    max-height: 0px;
}

/*------------------------------------------------------------------------------------*/

.ass2511-milestone {
    text-decoration: underline;
    font-size: 30px;
}

/*.ass2511-wrapper {
    width: 100%;
    height: auto;
    background-color: lightblue; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 30px;
}*/

.ass2511-box {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: none; /*lightpink*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ass2511-box p {
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.ass2511-box ul {
    margin-bottom: 20px;
}

.ass2511-box li {
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
}

.ass2511-img {
    width: 100%;
    height: auto;
}

