.port-display-container {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #DDD1D1;
    overflow: hidden;
}

.port-display-container h2 {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -90%);
    font-size: 68px;
    color: white;
    text-shadow: 2px 2px 15px #303030;
    opacity: 1;
    animation-name: bannerDisplay-fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.port-display-container img{
    opacity: 1;
    animation-name: bannerDisplay-fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes bannerDisplay-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 680px) {
    .port-display-container h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 680px) and (max-width: 1280px) {
}